@use '../../styles';

.subgrids {
  border: 10px solid $red;
  color: $white;

  &__container {
    width: 700px;
    height: 500px;
    background: $green-400;
    border: 10px solid $purple;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    &-secondary {
      background: $green-600;
      border: 10px solid $yellow;
      grid-row: 2/ 3;
      grid-column: 2/ 5;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
    }

    &-tertiary {
      background: $green-500;
      border: 10px solid $white;
      grid-row: 3/ 3;
      grid-column: 3/ 5;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
    }

    &-quaternary {
      background: $green-700;
      border: 10px solid $blue;
      grid-row: 4/ 3;
      grid-column: 4/ 5;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
    }
  }
}