@use "../../styles";

.subgrids {
  border: styles.$spacing-small solid styles.$red;
  color: styles.$white;

  &__container {
    width: 700px;
    height: 500px;
    background: styles.$green-400;
    border: styles.$spacing-small solid styles.$purple;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    &-secondary {
      background: styles.$green-600;
      border: styles.$spacing-small solid styles.$yellow;
      grid-row: 2/ 4;
      grid-column: 2/ 5;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
    }

    &-tertiary {
      background: styles.$green-500;
      border: styles.$spacing-small solid styles.$white;
      grid-row: 3/ 4;
      grid-column: 2/ 5;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
    }

    &-quaternary {
      background: styles.$green-700;
      border: styles.$spacing-small solid styles.$blue;
      grid-row: 4/ 4;
      grid-column: 2/ 5;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
    }
  }
}
