@use '_variables';
@use '../themes';

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin rounded($radius) {
  -webkit-border-radius: $radius; 
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin setAvatar($size, $circle: false) {
  width: $size;
  height: $size;

  @if $circle {
    border-radius: $size / 2;
  }
}

@mixin theme-colors($light-theme: true) {
  @if $light-theme {
    background-color: themes.$brand-primary;
    color: themes.$brand-secondary;
  } @else {
    background-color: themes.$brand-primary-dark;
    color: themes.$brand-secondary-dark;
  }
}

$breakpoints: variables.$breakpoint;