@use '_variables';

@mixin respond-to($input) {
  @if map-has-key($breakinpoint, $breakinpoint) {
    @media #{inspect(map-get($breakinpoint, $breakinpoint))} {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$input}`. "
        + "Available breakpoints are: #{map-keys($breakinpoint)}.";
  }
}

@mixin rounded($radius) {
  -webkit-border-radius: $radius; 
  -moz-border-radius: $radius;
  border-radius: $radius;
}

$breakinpoint: variables.$breakpoints;