/// Variables, spacings, etc.

$spacing-small: 8px;
$spacing-base: 16px;
$spacing-medium: 24px;
$spacing-big: 32px;

$width-small: 200px;

$breakpoints: (
  'small':  ( min-width:  767px ),
  'medium': ( min-width:  992px ),
  'large':  ( min-width: 1200px )
) !default;