@use "../../styles";

.has-selector {
  &__title {
    font-size: styles.$spacing-medium;
    font-weight: bold;
    margin-bottom: styles.$spacing-base;
  }

  &__subtitle {
    font-size: styles.$spacing-base;
    font-weight: bold;
    margin-bottom: styles.$spacing-base;
  }

  &__button {
    font-size: styles.$spacing-base;
    font-weight: bold;
    margin-bottom: styles.$spacing-base;
    color: styles.$green-600;
  }
}

section:has(div) {
  color: styles.$red;
}
