.has-selector {
  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__button {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: green;
  }
}

section:has(div) {
  color: red;
}
