@use "../../styles";

@layer base, layout, components;

@layer base {
  .layer-rule {
    &__container {
      inline-size: min(100% - 3rem, 60rem);
      margin-inline: auto;

      &:where(:not(:first-child)) {
        margin-bottom: var(--size-4);
      }

      &-focus {
        display: block;
        font-weight: bolder;
        font-size: styles.$spacing-base;
        color: styles.$brand-primary-dark;
      }

      &-paragraph {
        max-width: styles.$width-small;
      }
    }

    &-title {
      font-size: styles.$spacing-base;
      margin-block-end: styles.$spacing-medium;
    }
  }

  a {
    color: styles.$red;
  }
}

@layer layout {
  .layer-rule {
    background: styles.$brand-secondary-dark;
    padding-block: styles.$spacing-big;
    margin-block-end: styles.$spacing-small;
  }
  
  a {
    cursor: pointer;
  }
}

@layer components {
  .layer-rule {
    &__container {
      &-button {
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        border-radius: styles.$spacing-base;

        background: styles.$green-600;
        margin: styles.$spacing-medium;
        color: styles.$white;
        font-weight: bold;
      }
    }
  }
}
