@use "../../styles";

%wrapper {
  max-width: 850px;
  height: 400px;
  font-size: styles.$spacing-xxbig;
}

.scroll-snap {
  @extend %wrapper;
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 500px;
  margin: 0 auto;

  &__area {
    @extend %wrapper;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    color: styles.$white;
  }
}

.scroll-snap__area:nth-of-type(1) {
  background: styles.$black;
}
.scroll-snap__area:nth-of-type(2) {
  background: styles.$blue;
}
.scroll-snap__area:nth-of-type(3) {
  background: styles.$brand-warning-dark;
}
.scroll-snap__area:nth-of-type(4) {
  background: styles.$brand-success-dark;
}
