@use '../../styles';

.container-wrapper {
	container-name: wrapper;
	container-type: inline-size;
  width: 100%;
}

.container {
  display: grid;
	grid-template: 
	"title"
	"description" / 1fr;
	gap: styles.$spacing-base;
	padding: styles.$spacing-base;
}

@container wrapper (max-width: 850px) {
	.container {
		gap: styles.$spacing-medium;
		padding: styles.$spacing-medium;
		grid-template: "title description" / 1fr 1fr;
	}

	.container__description {
		text-align: left;
	}
}

@container wrapper (max-width: 650px) {
	.container {
		display: flex;
		flex-direction: column;
		gap: styles.$spacing-medium;
		padding: styles.$spacing-medium;
	}
}