@use "../../styles";

.container-wrapper {
	container-name: wrapper;
	container-type: inline-size;
	display: flex;
	place-content: center;
}

.container {
	display: grid;
	grid-template:
		"container__title"
		"container__subtitle"
		"container__description" / 1fr;
	gap: styles.$spacing-base;
	padding: styles.$spacing-base;
}

@container wrapper (inline > 850px) {
	.container {
		gap: styles.$spacing-medium;
		padding: styles.$spacing-medium;
		grid-template: "container__title container__subtitle container__description" / 1fr 1fr 1fr;
	}

	.container__description {
		text-align: left;
	}
}

@container wrapper (inline > 650px) {
	.container {
		display: flex;
		flex-direction: column;
		gap: styles.$spacing-medium;
		padding: styles.$spacing-medium;
	}
}
