@use "../../styles";

.accent-color {
  background-color: styles.$brand-primary-dark;
  color: styles.$white;
  font-size: styles.$spacing-medium;
  display: flex;
  place-content: center;

  &__form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    input[type="radio"] {
      position: absolute;
      margin-block-start: styles.$spacing-small;
      accent-color: styles.$brand-danger-dark;
      display: flex;
      margin-inline: 0;
    }

    label {
      display: flex;
      margin-left: styles.$spacing-base;
    }
  }
}
